html {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
body {
    overflow-x: hidden;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #303136;
}
.content {
    text-align: center;
}
.logo {
    width: 90%;
    max-width: 600px;
    margin-bottom: 40px;
    pointer-events: none;
}
.links {
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s;
    background-color: transparent;
    border: none;
}
.link img {
    max-width: 70px;
    margin-bottom: 10px;
}
.link:hover {
    transform: scale(1.1);
}
.audio-controls {
    margin-top: 20px;
}
#discordWidgetContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-size: cover;
    background-position: center;
}
#discordWidget {
    width: 400px;
    height: 500px;
    font-size: 16px;
}
#closeButtonBottom {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    color: back;
    font-size: 16px;
    cursor: pointer;
}
.floating-widget {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
    background-image: url('https://cdn.discordapp.com/attachments/755487453565026374/1212019751744839720/windgetwlalpaperrr.webp?ex=65f0505b&is=65dddb5b&hm=1234e79cf12adc848f9b2c1961e0921011dff6d9ff36ae161b6c46dbd08953df&');
    background-size: cover;
    background-position: center;
}
#closeFloatingWidgetButton {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}
.widget-logo {
    max-width: 350px;
    margin-bottom: 10px;
}
.floating-widget ul li {
    list-style: none;
    margin-bottom: 10px;
    color: white;
}
.floating-widget ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
